
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<!-- 1st Project Section-->
<section class="bg-dark-light" id="Projects">
    <div class="container">
        <header class="mb-5">
            <h2 class="font-weight-bold text-primary">Dungeon Project</h2>
            <p class="h3 lined">I created a old-school text adventure game in C#</p>
        <a href="https://github.com/Max-I-Smith/DungeonApplication">Git-Hub Link</a>
        </header>
    </div>
    <div class="container">
        <header class="mb-5">
            <h2 class="font-weight-bold text-primary">StoreFront Project</h2>
            <p class="h3 lined">I created a fake online store that connects to an online database</p>
        <a href="http://storefront.maxthewebsmith.net/">StoreFront</a>
        <a href="https://github.com/Max-I-Smith/StoreFront">Git-Hub Link</a>
        </header>
    </div>
    <div class="container">
        <header class="mb-5">
            <h2 class="font-weight-bold text-primary">Admin Project</h2>
            <p class="h3 lined">I created a fake scheduling tool during a peer programming part of Centriq</p>
        <a href="http://sat.maxthewebsmith.net/">University Scheduling Tool</a>
        <a href="https://github.com/Max-I-Smith/University_Project">Git-Hub Link</a>
        </header>
    </div>
</section>