
@{
    ViewBag.Title = "Index";
}

<h2>Classmates</h2>

<!-- Classmates Section -->
<section id="experience">
    <div class="container">
        <header class="mb-5 pb-4">
            <p class="font-weight-bold text-gray text-uppercase letter-spacing-3">These were my classmates during my time at Centriq</p>
            <h2 class="text-uppercase lined">Experience</h2>
        </header>
        <!--  Timeline -->
        <ul>
            <!-- Timeline item-->
            <li>
                <div></div>
                <div class="row no-gutter">
                    <div class="col-lg-5 mb-4 mb-lg-0">

                        <h2 class="h5 mb-0 text-uppercase">Lynn DiPlacito</h2>
                        <img src="/Content/img/diplacito.lynn.png" width="250" height="250 alt="Picture of Lynn" />
                    </div>
                    <div class="col-lg-7">
                        <h3>Link to Lynn's personal site</h3>
                        <a href="http://kc.lynn-dcoding.com/">http://kc.lynn-dcoding.com/</a>
                    </div>
                </div>
            </li>
            <!-- Timeline item-->
            <li>
                <div></div>
                <div class="row no-gutter">
                    <div class="col-lg-5 mb-4 mb-lg-0">

                        <h2 class="h5 mb-0 text-uppercase">Chris Allen</h2>
                        <img src="~/Content/img/cqclass-allen.chris.jpg" width="250" height="250" alt="Picture of Chris" />
                    </div>
                    <div class="col-lg-7">
                        <h3>Link to Chris's personal site</h3>
                        <a href="http://c-allen.com">http://c-allen.com"</a>
                    </div>
                </div>
            </li>
            <li>
                <div></div>
                <div class="row no-gutter">
                    <div class="col-lg-5 mb-4 mb-lg-0">

                        <h2 class="h5 mb-0 text-uppercase">Josh Owens</h2>
                        <img src="~/Content/img/cqclass-owens.josh.png" width="250" height="250 alt="Picture of Josh" />
                    </div>
                    <div class="col-lg-7">
                        <h3>Link to Josh's personal site</h3>
                        <a href="http://joshuaowens.net/">http://joshuaowens.net/</a>
                    </div>
                </div>
            </li>
            <li>
                <div></div>
                <div class="row no-gutter">
                    <div class="col-lg-5 mb-4 mb-lg-0">

                        <h2 class="h5 mb-0 text-uppercase">Jerod Denny</h2>
                        <img src="~/Content/img/Jerod.png" width="250" height="250 alt="Picture of Jerod" />
                    </div>
                    <div class="col-lg-7">
                        <h3>Link to Jerod's personal site</h3>
                        <a href="">I don't know what his website's address is</a>
                    </div>
                </div>
            </li>
            <li>
                <div></div>
                <div class="row no-gutter">
                    <div class="col-lg-5 mb-4 mb-lg-0">

                        <h2 class="h5 mb-0 text-uppercase">Anthony Millan</h2>
                        <img src="~/Content/img/Ant-millan.png" width="250" height="250 alt="Picture of Anthony" />
                    </div>
                    <div class="col-lg-7">
                        <h3>Link to Anthony's personal site</h3>
                        <a href="http://www.ant-millan.com/">http://www.ant-millan.com/</a>
                    </div>
                </div>
            </li>
            <li>
                <div></div>
                <div class="row no-gutter">
                    <div class="col-lg-5 mb-4 mb-lg-0">

                        <h2 class="h5 mb-0 text-uppercase">Virgil Bierschwale</h2>
                        <img src="~/Content/img/VirgilB.png" width="250" height="250 alt="Picture of Virgil" />
                    </div>
                    <div class="col-lg-7">
                        <h3>Link to Virgil's personal site</h3>
                        <a href="http://www.bierschwalesoft.com/">http://www.bierschwalesoft.com/</a>
                    </div>
                </div>
            </li>
            <li>
                <div></div>
                <div class="row no-gutter">
                    <div class="col-lg-5 mb-4 mb-lg-0">

                        <h2 class="h5 mb-0 text-uppercase">Amber Mills</h2>
                        <img src="~/Content/img/amberMills.png" width="250" height="250 alt="Picture of Amber" />
                    </div>
                    <div class="col-lg-7">
                        <h3>Link to Amber's personal site</h3>
                        <a href="http://amber-mills.com/">http://amber-mills.com/</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>