
@{
    ViewBag.Title = "Index";
}


<!-- Education Section-->
<section class="bg-dark-light" id="education">
    <div class="container">
        <header class="mb-5 pb-4">
            <p class="font-weight-bold text-primary text-uppercase letter-spacing-3">I never stop learning how to improve</p>
            <h2 class="text-uppercase lined">Education</h2>
        </header>
        <!--  Timeline -->
        <ul class="timeline">
            <!-- Timeline item-->
            <li class="timeline-item ml-3 pb-4">
                <div class="timeline-arrow"></div>
                <div class="row no-gutter">
                    <div class="col-lg-5 mb-4 mb-lg-0">
                        <p class="font-weight-bold mb-2 text-primary text-small">2021 - 2022 </p>
                        <h2 class="h5 mb-0 text-uppercase">Centriq Training</h2>
                        <p class="text-small mb-0">Kansas City</p><span class="small text-muted">Missouri</span>
                    </div>
                    <div class="col-lg-7">
                        <p class="text-muted">I attended Centriq online during the pandemic. I was able to fully concentrate on learning new things during this time. I decided to jumpstart my web development career during this time , because I refused to stagnate during a time when everyone wanted to stay inside and do nothing.</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>

<!-- Education Section End-->