<?xml version="1.0" encoding="utf-8" ?>
<!--<appSettings>
  <add key="EmailClient" value="mail.maxthewebsmith.net"/>
  
  <add key="EmailUser" value="Admin@maxthewebsmith.net"/>

  <add key="EmailPass" value="LeoisaChad3!"/>

  <add key="EmailTo" value="maxsmith3169@gmail.com"/>
</appSettings>-->
<appSettings>
  <add key="EmailClient" value="mail.maxthewebsmith.net"/>
  <add key="EmailUser" value="admin@maxthewebsmith.net"/>
  <add key="EmailPass" value="LeoisaChad3!"/>
  <add key="EmailTo" value="maxsmith3169@gmail.com"/>
</appSettings>
