@{
    ViewBag.Title = "Home Page";
}

<!-- Hero Section(Top of the Page)-->
<section class="hero bg-cover bg-center mt-5" id="hero" style="background: url(../../Content/img/author.jpg)">
    <div class="container py-5 my-5 index-forward">
        <div class="row">
            <div class="col-md-8 text-white">
                <h1 class="text-uppercase text-xl mb-0">Max <span class="text-primary">Smith</span></h1>
                <h2 class="h4 font-weight-normal mb-5">Full-Stack Web Developer</h2>
                <p class="text-shadow">This is my personal site, containing links to my projects on Git-Hub as well as my Classmates from when I attended Centriq</p>
            </div>
        </div>
    </div>
</section>